{% extends 'base.html' %}

{% block header %}
    <div class = "cabeca">
        <h1>
            {% block title %}
                Tarefas
            {% endblock %}
        </h1>
        
        {% if g.user %}
            <a class="action" href="{{ url_for('blog.create') }}">
                Nova Tarefa
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title']}}</h1>
                </div>
                    
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">
                        Editar
                    </a>
                {% endif %}
            </header> 
            <p>     
                <h3>       
                    <b>
                        <u>
                            Data Inicio:
                        </u>                    
                    </b> 
                </h3>
                {{ post['created'].strftime('%Y-%m-%d') }}
            </p>
            <p>
                <h3>
                    <b>
                        <u>
                            Data Final:
                        </u>
                    </b>
                        
                </h3>     
                {{ post['dateend'].strftime('%Y-%m-%d') }}
            </p>
            <p>
                <h3>
                    <b>
                        <u>
                            Prioridade:
                        </u>
                    </b>
                       
                </h3>     
                {{ post['priority'] }}
            </p>
            

            <p class="body">{{ post['body'] }}</p>

        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}