html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: #D9DDE0;
}
/*REMOVAR ESSA PARTE H1 H2 H3 RELACIONADO A CORES*/


a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 2px solid #1468AF;
  
}

nav {
  background: lightgray;
  display: flex;
  align-items: right;
  padding: 0 0.5rem;
  
}

nav h1 {
  flex: auto;
  margin: 0;
  
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-size: 35px;
  
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;

}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 2px solid lightgray;
  display: flex;

  align-items: flex-end;
  background-position-x: center;
  background-position-y: center;
}

.content > header h1 {
  text-align: center;
  font-size: 40px;
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
  
}

.post > header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.post .about {
  
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  text-align: center;
  font-size: 30px;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  
}

.content label {
  text-align: center;
  align-self: center;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #394B6A;
  
}

.content input, .content textarea {
  align-self: center;
  border: 2px solid black;
  margin-bottom: 1em;
  align-items: center;
  text-align: center;
  font-size: 60%;
  padding: 3px;
  line-height: normal;
  border-radius: 5px;
  width: 20%;
  max-width: 60%;
  
}


.content textarea {
  border: 2px solid black;
  padding: .5em;
  min-height: 12em;
  resize: vertical;
  width: 40%;
  max-width: 60%;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  font-size: 20px;
  align-self: center;
  min-width: 5%;
  min-height: 5%;
    width: 3%;
  max-width: 60%;
}

