<!doctype html>
<title>
    To Do List
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav class="navbar navbar-inverse" role="navigation">  
        <h1>
            <a href ="/">
                To Do List
            </div></a>
        </h1>
        <ul>
        {% if g.user %}
            <li>
                <span>
                   <font color = "black">Você está logado como:</font>  {{ g.user['username'] }}
                </span>
            </li>
            <li>
                <a href="{{ url_for('auth.logout') }}">
                    Logout
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('auth.register') }}">
                    Register
                </a>
            </li>

        <li>
            <a href="{{ url_for('auth.login') }}">
                Login
            </a>
        </li>    
        {% endif %}

    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
